# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.env

# Packaging
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/
# Coverage
.coverage
htmlcov/

# ignore generated datasets
tests/data/grid_*.json
!tests/data/grid_10.json
!tests/data/grid_50.json

# ignore graph cache data
system_design/route_optimizer/data/osm_cache/*
!system_design/route_optimizer/data/osm_cache/.gitkeep

# ignore cache
cache/

# ignore osm_http cache
system_design/route_optimizer/data/osm_http_cache/*
!system_design/route_optimizer/data/osm_http_cache/.gitkeep

# ignore schema refactoring for now
system_design/route_optimizer/engine/schemas/*

# ignore BPE training artificats
core_dsa/nlp/merges.json
core_dsa/nlp/vocab.json
core_dsa/nlp/byte_level_merges.json
core_dsa/nlp/byte_level_vocab.json