# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.env

# Packaging
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/
# Coverage
.coverage
htmlcov/

# ignore generated datasets
tests/data/grid_*.json
!tests/data/grid_10.json
!tests/data/grid_50.json