# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.env
# Pytest
.pytest_cache/
# Coverage
.coverage
htmlcov/

# ignore generated datasets
tests/data/grid_*.json
!tests/data/grid_10.json
!tests/data/grid_50.json